:root {
  --primary-font: "Dancing Script", cursive;
  --secondary-font: "Montserrat", sans-serif;
}

.hero {
  text-align: center;
  height: 100vh;
  padding: 0 30px;
}

.link {
  text-decoration: none;
  color: black;
}

.names-languages {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 150px;
}

.name {
  font-family: var(--primary-font);
  padding: 0 30px;
}

.language {
  font-family: var(--secondary-font);
  font-size: 16px;
}

.date {
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 50px;
  padding: 50px;
}

footer {
  font-family: var(--secondary-font);
  font-size: 12px;
  position: fixed;
  bottom: 10px;
}
