:root {
  --font-primary: "Dancing Script", cursive;
  --font-secondary: "Montserrat", sans-serif;
  --color-primary: rgb(48, 75, 68);
}

.front {
  background-image: url(/images/front.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.front-text {
  display: flex;
  justify-content: center;
}

.side {
  transition: all 200ms ease-in-out;
}

.side:hover {
  transform: scale(1.1);
}

.name,
.and {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-size: 96px;
  line-height: 1;
  padding: 0 20px;
}

.language {
  font-family: var(--font-secondary);
  font-size: 13px;
}

.language-link {
  text-decoration: none;
  color: var(--color-primary);
}

footer {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 12px;
  position: fixed;
  bottom: 10px;
}

@media (max-width: 576px) {
  .name,
  .and {
    font-size: 64px;
    padding: 0 10px;
  }
}
